
CREATE DATABASE [cable_db]
GO
USE [cable_db]
GO
CREATE TABLE [dbo].[cable_records](
	[pr_date] [date] NULL,
	[pr_order] [varchar](10) NULL,
	[line] [char](4) NULL,
	[c_type] [varchar](10) NULL,
	[c_section] [varchar](10) NULL,
	[c_color] [varchar](10) NULL,
	[resistance_std] [decimal](6, 4) NULL,
	[actual_resist] [decimal](6, 4) NULL,
	[diameter_std] [decimal](3, 1) NULL,
	[avg_thickness_std] [decimal](2, 1) NULL,
	[actual_diameter] [decimal](4, 2) NULL,
	[actual_avg_thick] [decimal](3, 2) NULL
) ON [PRIMARY]
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cable_standards](
	[c_type] [varchar](15) NULL,
	[c_section] [varchar](10) NULL,
	[resistance_std] [decimal](6, 4) NULL,
	[diameter_std] [decimal](3, 1) NULL,
	[average_std] [decimal](2, 1) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[cable_records] ([pr_date], [pr_order], [line], [c_type], [c_section], [c_color], [resistance_std], [actual_resist], [diameter_std], [avg_thickness_std], [actual_diameter], [actual_avg_thick]) VALUES (CAST(N'2021-01-02' AS Date), N'1783631', N'9201', N'H05V-K', N'1 x 1', N'brown', CAST(19.5000 AS Decimal(6, 4)), CAST(19.3100 AS Decimal(6, 4)), CAST(2.8 AS Decimal(3, 1)), CAST(0.6 AS Decimal(2, 1)), CAST(2.80 AS Decimal(4, 2)), CAST(0.60 AS Decimal(3, 2)))
INSERT [dbo].[cable_records] ([pr_date], [pr_order], [line], [c_type], [c_section], [c_color], [resistance_std], [actual_resist], [diameter_std], [avg_thickness_std], [actual_diameter], [actual_avg_thick]) VALUES (CAST(N'2021-01-03' AS Date), N'1783632', N'9201', N'H05V-K', N'1 x 1', N'gray', CAST(19.5000 AS Decimal(6, 4)), CAST(19.4100 AS Decimal(6, 4)), CAST(2.8 AS Decimal(3, 1)), CAST(0.6 AS Decimal(2, 1)), CAST(2.90 AS Decimal(4, 2)), CAST(0.70 AS Decimal(3, 2)))
INSERT [dbo].[cable_records] ([pr_date], [pr_order], [line], [c_type], [c_section], [c_color], [resistance_std], [actual_resist], [diameter_std], [avg_thickness_std], [actual_diameter], [actual_avg_thick]) VALUES (CAST(N'2021-01-02' AS Date), N'1783664', N'9201', N'H05V-K', N'1 x 1', N'brown', CAST(19.5000 AS Decimal(6, 4)), CAST(19.3100 AS Decimal(6, 4)), CAST(2.8 AS Decimal(3, 1)), CAST(0.6 AS Decimal(2, 1)), CAST(2.70 AS Decimal(4, 2)), CAST(0.70 AS Decimal(3, 2)))
INSERT [dbo].[cable_standards] ([c_type], [c_section], [resistance_std], [diameter_std], [average_std]) VALUES (N'H05V-U', N'1 x 0.5', CAST(36.0000 AS Decimal(6, 4)), CAST(2.3 AS Decimal(3, 1)), CAST(0.6 AS Decimal(2, 1)))
INSERT [dbo].[cable_standards] ([c_type], [c_section], [resistance_std], [diameter_std], [average_std]) VALUES (N'H05V-U', N'1 x 0.75', CAST(24.5000 AS Decimal(6, 4)), CAST(2.5 AS Decimal(3, 1)), CAST(0.6 AS Decimal(2, 1)))
INSERT [dbo].[cable_standards] ([c_type], [c_section], [resistance_std], [diameter_std], [average_std]) VALUES (N'H05V-U', N'1 x 1', CAST(18.1000 AS Decimal(6, 4)), CAST(2.7 AS Decimal(3, 1)), CAST(0.6 AS Decimal(2, 1)))
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[filterProcedure]
   ( @type VARCHAR(10),
    @section VARCHAR(10))
AS
    SELECT pr_date, actual_resist AS 'Actual Resistance', resistance_std AS 'Standard Rsistance' FROM  cable_records
	WHERE c_type LIKE @type AND c_section LIKE @section
	order by pr_date;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_order] @date DATE, @order VARCHAR(10), @line CHAR(4), @c_type VARCHAR(10),
 @c_section VARCHAR(10), @c_color VARCHAR(10), @actual_resist DECIMAL(6,4), @actual_diameter DECIMAL(4,2), @actual_avg_thick DECIMAL(3,2)
AS
	INSERT INTO cable_records(pr_date, pr_order, line, c_type, c_section, c_color, resistance_std, actual_resist
				,diameter_std, avg_thickness_std, actual_diameter, actual_avg_thick)
		SELECT @date, @order, @line, @c_type, @c_section, @c_color, resistance_std, @actual_resist, diameter_std,
				average_std, @actual_diameter, @actual_avg_thick
		 FROM cable_standards
		 WHERE c_type LIKE @c_type AND c_section LIKE @c_section
GO

